@mixin btn {
  width: 225px;
  height: 48px;
  border-radius: 41px;
  border: 1px solid rgba(#121313, 0.16);
  background-color: #fff;
  font-weight: 500;
  font-size: 16px;
  &:hover:not(:disabled) {
    cursor: pointer;
    background: #1d1d1d;
    color: #fff;
    transition-duration: 300ms;
  }
}

.form {
  max-width: 1126px;
  margin: 0 auto;
}

.form_body {
  display: flex;
  justify-content: space-between;
  gap: 123px;
  margin-top: 112px;
}

.form_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form_footer {
  margin-top: 98px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.form_title {
  font-size: 48px;
  font-weight: 600;
}

.form_left_side,
.form_right_side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}

.btn_cancel {
  @include btn;
}

.btn_next {
  @include btn;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  &:disabled {
    border: 0;
    cursor: not-allowed;
    background: #efefef;
    color: #acacac;
  }
}
