.textarea_wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.textarea_label {
  color: rgba(#1d1d1d, 0.7);
  font-size: 15px;
  font-weight: 600;
  line-height: 19px;
}

.textarea {
  max-width: 498px;
  min-width: 498px;
  height: 157px;
  min-height: 54px;
  padding-top: 16px;
  padding-left: 18px;
  border-radius: 6px;
  border: 1px solid rgba(#1d1d1d, 0.19);
}

.textarea::placeholder {
  color: rgba(#1d1d1d, 0.4);
}
